.headline{
    width: 50%;
    margin-left: 0%;
    margin-top: 0%;
    float: left;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #5f5f5f;
}
.logo{
    width: 100%;
    float: left;
    margin-left: 0%;
}
.logo img{
    width: 100%;
    max-width: 700px;
    min-width: 100px; 
}
home2{
    width: 35%;
    text-align: center;
    margin-top: -15px;
    margin-left: 2%; 
}
.buttons{
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-top: -20px;
}
.buttonclass{      
    display: block;
    list-style-type: none;    
    width: 100%;
    height: 55px;
    margin-left: -40px; 
    

     
}
.buttonclass li{
    float: left;
    display: block;
    text-align: center;
    width: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
    background-color: #5f5f5f;
    margin-left: 0px;  
    color: #f1f1f1; 
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}   
.buttonclass :link{
    color: ghostwhite;
    text-decoration: none;
}
.buttonclass :visited{
    color: lightblue;
    text-decoration: none
}
.buttonclass :active{
    color: lawngreen;
    text-decoration: none
}
.buttonclass :hover{
    color: deeppink;
    text-decoration: none;
    background: #000000;
}
.famoustitle{
   float: left;
    color: #5f5f5f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    margin-top: -25px;
    width: 20%;
    border-bottom: solid #5f5f5f;
    padding-left: 10px;
    padding-right: 80%; 
}
.historypage{
    float: left;
    color: #5f5f5f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
    margin-top: -25px;
    width: 40%;
    border-bottom: solid #5f5f5f;
    padding-left: 10px;
    padding-top: 8%;
}
.memes1{
float: left;
width: 60%;
padding-top: 80px;
}
.ican{
    float: left;
    width: 33.3%;
    text-align: center;
    margin-left: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
    color: #5f5f5f;
    
}
.ican img{
    margin-left: 0%;
    max-width: 250px;
    width: 80%;
    padding-bottom: 8.9%;
}
.trollface{
    float: left;
    width: 33.3%;
    text-align: center;
    margin-left: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
    color: #5f5f5f; 
}
.trollface img{
    margin-left: 0%;
    max-width: 250px;
    width: 80%;
}
.babymeme{
    float: left;
    width: 33.3%;
    text-align: center;
    margin-left: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
    color: #5f5f5f; 
}
.babymeme img{
    margin-left: 0%;
    max-width: 250px;
    width: 80%;
}
.memes2{
float: left;
width: 60%;
padding-top: 80px;
}
.idont{
    float: left;
    width: 33.3%;
    text-align: center;
    margin-left: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
    color: #5f5f5f;
}
.idont img{
    margin-left: 0%;
    max-width: 250px;
    width: 80%;
}
.grumpy{
    float: left;
    width: 33.3%;
    text-align: center;
    margin-left: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
    color: #5f5f5f; 
}
.grumpy img{
    margin-left: 0%;
    max-width: 250px;
    width: 80%;
}
.doge{
    float: left;
    width: 33.3%;
    text-align: center;
    margin-left: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw; 
    color: #5f5f5f;
}
.doge img{
    margin-left: 0%;
    max-width: 250px;
    width: 80%;
}
.sidebar{
float: right;
width: 25%;
height: 60%;
border: 1px;
margin-left: 0%;
border: solid #5f5f5f;;
}
.text{
font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
    color: #5f5f5f;
    float: center;
}
.danks{
width: 100%;
float: center;
}
.danks img{
width: 60%;
float: center;
}
.taskb{
display: block;
    list-style-type: none;    
    width: 100%;
    height: 55px;
    float: center;
}
.memeclass{
display: block;
    list-style-type: none;    
    width: 100%;
    height: 55px;
margin-left: -10%;
float: center;
}
.memeclass li{
    display: block;
    text-align: center;
    width: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
    background-color: #5f5f5f;
    margin-left: 0px;  
    color: #f1f1f1; 
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    float: center;
}
.memeclass :link{
    color: ghostwhite;
    text-decoration: none;
}
.memeclass :visited{
    color: lightblue;
    text-decoration: none
}
.memeclass :active{
    color: lawngreen;
    text-decoration: none
}
.memeclass :hover{
    color: deeppink;
    text-decoration: none;
    background: #000000;
}
.sbar{
float: center;  
margin-top: 10%;
width: 20%;
}
.vid1{
    width: 70%;
    float: left;
    height: 300px;
    color: #5f5f5f; 
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8vw;
}
.latest{
    margin-top: 100px;
    width: 70%;
    float: left;
}
.img1 {
    width: 30%;
    float: left;
}
.img1 img{
    width: 80%;
    float: left;
}
.img2 {
    margin-top: 100px;
    margin-left: -30%;
    width: 30%;
    float: left;
}
.img2 img{
    width: 80%;
    float: left;
}
.text01{
    color: #5f5f5f; 
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8vw; 
    width: 40%;
}
.text02{
    margin-top:100px;
    color: #5f5f5f; 
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8vw; 
    width: 40%;
}
.contactmain{
    width: 70%;
}
.imgx2 img{
    width: 30%;
}
.testx2{
    color: #5f5f5f; 
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8vw;
}
.contactmain audio{
    width: 70%;
}




